<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FTP" type="FoldersMonitor.FTP,FoldersMonitor" />
  </configSections>
  <FTP>
    <FTPTarget>
      <!--EncryptionMode：{"None":"0","Implicit":"1","Explicit":"2","Auto":"3"}-->
      <!--<Target Number="1" Host="xxx.xxx.xxx.xxx" Port="21" UserName="UserName" Password="Password" EncryptionMode="2"/>-->
      <!--第一台FTP-->
      <Target Number="1" Host="xxx.xxx.xxx.xxx" Port="21" UserName="UserName" Password="Password" EncryptionMode="2" />
      <!--第二台FTP-->
      <!--<Target Number="2" Host="xxx.xxx.xxx.xxx" Port="699" UserName="UserName" Password="Password" EncryptionMode="2"/>-->
      <!--第三台FTP-->
	  <!--<Target Number ="3" Host="xxx.xxx.xxx.xxx" Port="22" UserName="789" Password="123" EncryptionMode="2"/>-->
    </FTPTarget>
  </FTP>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
  <appSettings>
    <add key="XMLFileFolderSettings" value="Source\CustomFolderSettings.xml" />
    <add key="CheckFileInterval(minute)" value="30" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>